.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  background-color: var(--color-bg-default);
  box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb), 0.1);

  &-left {
    border-right: 1px solid var(--color-border-default);
    background-color: var(--color-bg-default);
    height: 60px;
    display: flex;
    align-items: center;
    flex: 0 0 401px;
    padding: 0 20px;
    font-weight: 600;
  }

  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
}

.app .header .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;

  & img {
    height: 20px;
    width: auto;
  }
}
