.instruments {
  margin: 40px 0;

  &-lists {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 398px;
    display: flex;
    background-color: var(--color-bg-default);
    border-top: 1px solid var(--color-border-1);

    &--list {
      display: flex;
      width: 100%;
      overflow-x: auto;
    }

    &--gear {
      padding: 4px 10px;
      cursor: pointer;
    }

    &--item {
      padding: 10px 14px;
      border-right: 1px solid var(--color-border-1);
      cursor: pointer;
      color: rgba(var(--color-border-5--rgb), 0.4);
    }

    &--selecteditem {
      color: var(--color-text-5);
      background-color: var(--color-bg-1);
    }
  }

  &-watchlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &-item {
    display: flex;
    position: relative;
    width: 100%;
    padding: 13px 15px;
    align-items: center;
    font-weight: 200;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-border-1);
    font-size: small;

    &--options {
      display: none;
      position: absolute;
      right: 0;
      width: 100%;
      justify-content: center;
      align-items: center;
      opacity: 0.9;
    }

    &:hover {
      & .instruments-item--options,
      & .buy-button,
      & .sell-button {
        display: flex;
      }
    }

    // &:nth-last-child(1) {
    //   border-bottom: none;
    // }

    &--caption {
      flex: 1;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      font-weight: 300;
    }

    &--change {
      color: var(--color-text-1);
    }

    &--arrow {
      padding-left: 10px;
      opacity: 0.4;
      font-size: 0.7rem;
    }

    &--value {
      min-width: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.change-percentage {
  padding-left: 3px;
  color: var(--color-text-1);
}

.instrument-button {
  color: var(--color-text-3);
  background-color: var(--color-bg-8);
  border: 1px solid var(--color-bg-8);
  padding: 4px;
  margin: 4px;
  cursor: pointer;

  &:active {
    opacity: 0.8;
  }
}
