.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow: scroll;
  min-height: 300px;
  max-height: 300px;
  padding-bottom: 40px;
}

#table {
  width: 100%;
  font-size: 1.1rem;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  max-height: 200px;
  overflow: scroll;

  & tr {
    border-top: 1px solid var(--color-border-default);
    border-bottom: 1px solid var(--color-border-default);
  }
}

thead {
  color: var(--color-bg-2);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-bg-default);
  border-top: 1px solid var(--color-border-default);
  border-bottom: 1px solid var(--color-border-default);

  & td:hover {
    background-color: var(--color-bg-1);
  }
}

tbody td {
  font-size: medium;
}

table td {
  padding: 12px 15px;
  text-align: left;
  width: 150px;
}

td {
  border-right: 1px solid var(--color-border-default);
  width: 300px;
  height: 100%;
}

td:nth-last-child(1) {
  border-right: none;
}

td:nth-child(1) {
  padding-left: 2px;
  text-align: left;
}

td:nth-last-child(2) {
  text-align: right;
}

td:nth-last-child(1) {
  text-align: right;
  padding-right: 10px;
}
