@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/reset";
@import "base/typography";
@import "base/animations";

@import "layout/navigation";
@import "layout/header";
@import "layout/forms";
@import "layout/app";
@import "layout/container";

@import "components/buttons";
@import "components/pinned-instrument";
@import "components/marketwatch";
@import "components/instruments";
@import "components/table";
@import "components/transaction";
@import "components/modal.scss";
@import "components/loader";
@import "components/auth";
@import "components/watchlist";
@import "components/funds";
@import "components/nodata";
@import "components/gear";

@import "pages/dashboard";

@import "themes/theme";

@media only screen and (min-width: 1000px) {
  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .right-nav ul {
    justify-content: flex-end;
  }

  .profile {
    border-left: 1px solid rgba(var(--color-border-5--rgb), 0.1);
  }

  .marketwatch {
    display: none;
  }
}

.desktop-wrapper {
  height: 100%;
  display: flex;
  position: relative;
  flex: 0 0 400px;
}

.holding {
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .desktop-wrapper {
    display: none;
  }

  .container-left {
    width: 100%;
    height: 100%;
    overflow: auto;
    flex: 1;
    box-shadow: none;
    border: none;
  }

  .instruments-lists {
    width: 100%;
  }

  .marketsearch,
  .marketwatch-selector,
  .marketsearch-results {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .transaction-window {
    width: 100vw;
    height: 100vh;
    max-width: 600px;

    &--buttons {
      max-width: 600px;
    }
  }
}

.holding {
  display: flex;
  flex-direction: column;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 600px;
}

.profile-form--entity {
  display: flex;
  flex-direction: column;
}

.profile-form--label {
  padding: 10px 0;
  font-size: 18px;
}

.profile-form-button {
  display: flex;
  justify-content: flex-end;
}

.profile-form--save {
  color: var(--color-text-3);
  background-color: var(--color-bg-8);
  border: 1px solid var(--color-bg-8);
  padding: 10px;
  margin: 50px 0;
  cursor: pointer;
  width: 120px;

  &:active {
    opacity: 0.9;
  }
}

.profile-form--input {
  padding: 10px;
}

//trying mobile first
@media only screen and (min-width: 900px) {
  .profile-form--entity {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .profile-form--label {
    width: 250px;
  }

  .profile-form--input {
    flex: 1;
    max-width: 400px;
    margin: 10px 0;
  }
}
