@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/reset";
@import "base/typography";
@import "base/animations";

@import "layout/navigation";
@import "layout/header";
@import "layout/forms";
@import "layout/app";
@import "layout/container";

@import "components/buttons";
@import "components/pinned-instrument";
@import "components/marketwatch";
@import "components/instruments";
@import "components/table";
@import "components/transaction";
@import "components/modal.scss";
@import "components/loader";
@import "components/auth";
@import "components/watchlist";
@import "components/funds";
@import "components/nodata";
@import "components/gear";

@import "pages/dashboard";

@import "themes/theme";

@media only screen and (min-width: 1000px) {
  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .right-nav ul {
    justify-content: flex-end;
  }

  .profile {
    border-left: 1px solid rgba(var(--color-border-5--rgb), 0.1);
  }

  .marketwatch {
    display: none;
  }
}
