@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/reset";
@import "base/typography";
@import "base/animations";

@import "layout/navigation";
@import "layout/header";
@import "layout/forms";
@import "layout/app";
@import "layout/container";

@import "components/buttons";
@import "components/pinned-instrument";
@import "components/marketwatch";
@import "components/instruments";
@import "components/table";
@import "components/transaction";
@import "components/modal.scss";
@import "components/loader";

@import "pages/dashboard";

@import "themes/theme";

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.right-nav {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

.right-nav ul li {
  padding: 0 20px;
}

.right-nav ul li:first-child {
  padding-left: 10px;
}

.nav-link--active {
  color: var(--color-pomegranate-red);
}

.auth {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.auth-container {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  box-shadow: 1px 1px 4px var(--color-border-default);
  border: 2px solid var(--color-border-default);
  animation: swing-in 0.15s;
  border-radius: 5px;
}
@keyframes swing-in {
  0% {
    opacity: 0.4;
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

.auth-container--alert {
  background-color: #fffaeb;
  border-color: #fff3cf;
  padding: 20px;
  line-height: 1.6;
  color: rgba(var(--color-border-5--rgb), 0.65);
}

.auth-container--form {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.auth-container--image {
  height: 40px;
}

.auth-container--image img {
  height: 40px;
}

.auth-container--heading {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 200;
}

.input-wrapper {
  width: 100%;
}

.auth-container--form input {
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-border-default);
  border-radius: 3px;
  padding: 10px 15px;
  color: var(--color-text-default);
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}

.auth-container--form button {
  width: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  color: white;
  background-color: var(--color-pomegranate-red);
  border: 1px solid var(--color-pomegranate-red);
  cursor: pointer;
  border-radius: 3px;
}

.auth-container--form button:hover {
  opacity: 0.7;
}

.error-wrapper {
  padding: 10px 0;
  width: 100%;
  font-size: 12px;
  color: var(--color-pomegranate-red);
}

.error-global {
  font-size: 14px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.profile-initials {
  background-color: var(--color-bg-1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  color: var(--color-text-4);
}

.profile-userId {
  padding-left: 10px;
}

.instruments-lists {
  position: fixed;
  bottom: 0;
  width: 398px;
  display: flex;
  background-color: var(--color-bg-default);
  border-top: 1px solid var(--color-border-1);
}

.instruments-lists--item {
  padding: 10px 14px;
  border-right: 1px solid var(--color-border-1);
  cursor: pointer;
  color: rgba(var(--color-border-5--rgb), 0.4);
}

.instruments-lists--selecteditem {
  color: var(--color-text-5);
  background-color: var(--color-bg-1);
}

[data-balloon] {
  position: relative;
  opacity: 1 !important;
}

.tooltip {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 100;
}

[data-balloon]::before {
  content: attr(data-balloon);
  position: absolute;
  font-size: 12px;
  left: 0px;
  bottom: 0;
  padding: 8px;
  z-index: 100;
  display: none;
  width: auto;
  min-width: 20px;
  height: min-content;
  color: white;
  background: rgba(var(--color-border-5--rgb), 0.65);
  border-radius: 4px;
  z-index: 100;
  transition: bottom 4s ease 0s;
}

[data-balloon]:hover::before {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 104%;
}

.cursor {
  cursor: pointer;
}

.funds-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(var(--color-border-5--rgb), 0.1);
}

.funds-wrapper:focus-within {
  border: 1px solid black;
}

.funds-symbol {
  padding: 10px;
  border-right: 1px solid var(--color-border-default);
}

.funds-input {
  width: 100%;
  border: none;
  padding: 10px;
}

.clickable-heading {
  cursor: pointer;
}

table thead td div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-hover {
  opacity: 0;
}

table thead td div:hover .icon-hover {
  opacity: 1;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .right-nav ul {
    justify-content: flex-end;
  }

  .profile {
    border-left: 1px solid rgba(var(--color-border-5--rgb), 0.1);
  }

  .marketwatch {
    display: none;
  }
}

.nav-link--hover:hover {
  color: var(--color-pomegranate-red);
}

//no data

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-data--image {
  width: 100px;
}

.no-data--title {
  font-weight: 200;
  font-size: 1.4rem;
}

.no-data--body {
  font-weight: 200;
  margin-top: 10px;
  color: var(--color-text-1);
  font-size: 0.8rem;
  text-align: center;
}

.marketwatch-button {
  width: 35px;
  padding: 2px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  border-radius: 2px;
}

.marketwatch-button--add {
  color: var(--color-text-3);
  background-color: var(--color-bg-8);
  border: 1px solid var(--color-bg-8);
}

.marketwatch-button--buy {
  color: var(--color-text-3);
  background-color: var(--color-bg-5);
  border: 1px solid var(--color-bg-5);
}

.marketwatch-button--sell {
  color: var(--color-text-3);
  background-color: var(--color-bg-6);
  border: 1px solid var(--color-bg-6);
  margin: 0 3px;
}

.marketwatch-button--modify {
  color: var(--color-text-3);
  background-color: var(--color-bg-5);
  border: 1px solid var(--color-bg-5);
  margin: 0 3px;
}

.marketwatch-button--delete {
  color: var(--color-text-1);
  border: 1px solid var(--color-bg-2);
  padding-top: 3px;
  padding-bottom: 3px;
}

.instruments-watchlist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.instrument-button {
  color: var(--color-text-3);
  background-color: var(--color-bg-8);
  border: 1px solid var(--color-bg-8);
  padding: 4px;
  margin: 4px;
  cursor: pointer;
}

.instrument-button:active {
  opacity: 0.8;
}

.flex-row {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.gear-wrapper {
  display: flex;
  position: relative;
}

.gear-modal {
  position: absolute;
  bottom: 100%;
  margin-bottom: 0;
  margin-right: 8px;
  width: 300px;
  right: 0;
  height: 300px;
  background-color: var(--color-bg-default);
  z-index: 10;
  border-radius: 4px;
  padding: 10px 0;
  color: var(color-text-3);
  border: 1px solid var(--color-border-default);
  box-shadow: 1px 1px 4px var(--color-border-default);
  animation: swing-in 0.15s;
}

.funds-lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.funds-lists li {
  margin-right: 10px;
  border-bottom: 3px solid var(--color-bg-default);
}

.funds-lists li:hover {
  cursor: pointer;
  color: var(--color-bg-8);
  border-bottom: 3px solid var(--color-bg-8);
}

.funds-lists--active {
  color: var(--color-bg-8);
  border-bottom: 3px solid var(--color-bg-8) !important;
}

.meta-info {
  font-size: 11px;
  padding: 10px 0;
}

.markewatch-results--container {
  display: flex;
}

.line {
  border-bottom: 1px solid var(--color-border-default);
  margin: 10px 0;
}

.watchlist-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 150px;
  overflow-y: scroll;

  &--item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-options {
      display: none;
    }

    &:hover {
      background-color: var(--color-border-default);
    }

    &:hover &-options {
      display: flex;
      align-items: center;
    }
  }
}

.sort-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;

  &--item {
    padding: 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(var(--color-border-5--rgb), 0.4);
    color: var(--color-bg-3);
    width: 80px;
    margin-right: 10px;
    font-size: 13px;

    &:hover {
      background-color: var(--color-border-default);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(var(--color-border-5--rgb), 0.15);
    }
  }
}

.watchlist-heading {
  padding: 0 10px;
}

.watchlist-icon {
  width: 10;
  height: 10;
  margin: 0 4px;
  cursor: pointer;
  color: rgba(var(--color-border-5--rgb), 0.6);
}
